@model IEnumerable<ProviderSupport.ViewModels.BirthDateGroup>
@{
    ViewBag.Title = "Provider Support Statistics";
}

<h2>Provider Support Statistics</h2>

<table>
    <tr>
        <th>
            Birth Date
        </th>
        <th>
            Providers
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @item.ProviderCount
            </td>
        </tr>
    }
</table>